.square {
    width:50px;
    height:50px;
    background:red;
    border-radius: 10px;
}

.itemTitle {
    font-size: 2rem;
    font-weight: bold;
}

.itemBody {
    font-size: 1rem;
}

.dividerCustom{
    margin: 0 1rem;
}

